*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

p{
    font-size: 1rem;
    text-align: center;
    margin-top: 1.875rem;

}

.top{
    display: flex;
    background-image: url(src/images/bg-hero-mobile.svg);
    height: 37.25rem;
    width: 100%;
    flex-direction: column;
    background-color: #f9f9ff;
}

.header{
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}

.img-logo{
    width: 4.25rem;
    height: 0.813rem;
}

.it-free{
    width: 5.688rem;
    height: 1.688rem;
    margin-left: 7.375rem;
    border-radius: 1.25rem;
    border: none;
    box-shadow: 1px 1px 7px 1px rgba(109, 107, 107, 0.589);
    background-color: white;
}

.box-info{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}


.box-info_description{
    margin-top: 3.625rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.for-free{
    margin-left: 1rem;
    margin-top: 1.875rem;
    width: 13.188rem;
    height: 2.5rem;
    border-radius: 1.875rem;
    border: none;
    background-color: rgba(255, 4, 109, 0.692);
    color: white;
}

.box-info_img{
    width: 100%;
    height: 12.688rem;
}

.illustration-mockups{
    width: 15.938rem;
    height: 12.5rem;
    margin: 2.188rem;
}

.information {
    width: 92%;
    height: 460px;
    margin-top: 40px;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 7px 1px rgba(170, 169, 169, 0.459);
}

.information2, .information3{
    width: 92%;
    height: 28.75rem;
    margin-top: 0.938rem;
    margin-left: 0.75rem;
    border-radius: 0.938rem;
    box-shadow: 1px 1px 7px 1px rgba(170, 169, 169, 0.459);
}

.illustration-grow-together, .illustration-grow-together2, .illustration-grow-together3{
    width: 12.5rem;
    height: 12.063rem;
    margin: 2.188rem;
}

.box-information_description, .box-information_description2, .box-information_description3{
    display: flex;
    flex-direction: column;
}

.grow-together, .Flowing-conversations, .your-users{
    font-size: 1rem;
}

.ready{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 92%;
    height: 9.375rem;
    border-radius: 0.938rem;
    box-shadow: 1px 1px 7px 1px rgba(170, 169, 169, 0.459);
    margin-top: 3.375rem;
    margin-left: 0.75rem;
    background-color: white;
    position: absolute;
}

.ready h1{
    font-size: 0.938rem;
}

.get-started{
    margin-top: 1rem;
    border: none;
    width: 11rem;
    height: 2.25rem;
    font-size: 0.625rem;
    border-radius: 1.875rem;
    background-color: rgba(255, 4, 109, 0.692);
    color: white;
    box-shadow: 3px 4px 5px 1px rgba(150, 149, 149, 0.507);
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 43, 43, 0.932);
    padding-top: 7.188rem;
    color: white;
    margin-top: 134px;

}

.logo-footer{
    width: 5.625rem;
    height: 1.375rem;
}

@media screen and (min-width: 1024px) {
    
    h1{
        font-family: Arial, Helvetica, sans-serif;
    }

    .top{
        background-image: url(src/images/bg-hero-desktop.svg);
        width: 100%;
        height: 500px;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .img-logo{
        width: 108px;
        height: 20px;
    }

    .it-free{
        width: 138px;
        height: 25px;
        margin-left: 625px;
    }

    .box-info_description{
        width: 386px;
        text-align: left;
    }
    .box-info_description h1{
        text-align: left;
        margin-right: 125px;
    }

    .box-info_description p{
        text-align: left;
    }

    .for-free{
        margin-left: 1px;
    }

    
    .box-info{
        display: flex;
        justify-content: flex-start;
        margin-left: 45px;
        margin-top: 110px;
    }

    .box-info_img{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: -100px;
    }

    .illustration-mockups{
        width: 510px;
        height: 380px;
    }

    .information, .information2, .information3, .ready{
        margin-left: 50px;
        width: 90%;
    }
}