*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.top{
    width: 1147px;
    height: 437px;
    background-image: url(src/images/bg-hero-desktop.svg);
    border: 1px solid blue;
    
}

.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}


.img-logo{
    height:22px ;
    width:150px ;
    margin-left: 55px;
   
}

.it-free{
    height:35px ;
    width:150px ;
    border-radius: 50px;
    margin-right: 115px;
    border: none;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(109, 109, 109, 0.76); 
    box-shadow: 0px 0px 5px 0px rgba(109, 109, 109, 0.76);
    background-color: hsla(0, 0%, 99%, 0.404);
    
}
.it-free:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 99%);
}

.for-free{
    width:12.5rem ;
    height:40px ;
    border-radius:50px ;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    margin-top: 16px;
    
    
}

.for-free:hover{
    cursor: pointer;
    background-color: hsla(322, 100%, 66%, 0.521);

}

.box-info{
    display: flex;
    height: 100%;

}

.box-info_description{
    height: 100%;
    width: 50%;
    text-align:left ;
    margin: 45px;
    margin-top: 58px;
}

h1{
    margin-bottom: 20px;
}

.box-info_img{
    width: 50%;
    margin-left: 85px;
    
}

.illustration-mockups{
    width: 380px;
    height: 18.5rem;
}

.information{
    width: 989px;
    height: 350px;
    border: 1px solid #cdd3cd;
    display: flex;
    align-items: center;
    margin: 104px;
    margin-left: 55px;
    box-shadow: 0px 0px 5px 0px rgba(109, 109, 109, 0.384) ;
}


.box-information_description{
    padding-left: 50px;
    padding-bottom: 50px;
    
}

.box-information_img{
    width: 50%;
    padding-left: 374px;
}

.illustration-grow-together{
    width: 380px;
    height: 18.5rem;
}

.grow-together{
    color: #787a78cc;
    position: absolute;
}